<h3>Dividends</h3>

<%= link_to 'Add Dividend', new_stock_dividend_path(@stock) %>

<table>
  <thead>
    <tr>
      <td>Year</td>
      <td>Value ($)</td>
      <td>Actions</td>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'dividend', collection: @stock.dividends %>
  </tbody>
</table>