<h3>Earnings</h3>

<%= link_to 'Add Earning', new_stock_earning_path(@stock) %>

<table>
  <thead>
    <tr>
      <td>Year</td>
      <td>Value ($)</td>
      <td>Actions</td>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'earning', collection: @stock.earnings %>
  </tbody>
</table>