<h3>Earnings</h3>

<%= link_to 'Add Earning', new_stock_earning_path(@stock) %>

<table>
  <thead>
    <tr>
      <td>Year</td>
      <td>Value ($)</td>
      <td>Actions</td>
    </tr>
  </thead>

  <tbody>
    <% @stock.earnings.each do |earning| %>
      <tr>
        <td><%= earning.year.year_number %></td>
        <td><%= dollar_value(earning.value) %></td>
        <td><%= link_to 'Edit', edit_earning_path(earning) %></td>
      </tr>
    <% end %>
  </tbody>
</table>