<h3>Share Prices</h3>

<%= link_to 'Add Share Price', new_stock_share_price_path(@stock) %>

<table>
  <thead>
    <tr>
      <td>Year</td>
      <td>High ($)</td>
      <td>Low ($)</td>
      <td>Actions</td>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'price', collection: @stock.share_prices %>
  </tbody>
</table>