<h2><%= @stock.company_name %></h2>
<p><%= @stock_exchange.name %>:<%= @stock.ticker_symbol %></p>

<div class="actions">
  <%= link_to 'Edit', edit_stock_exchange_stock_path(@stock_exchange, @stock) %>
</div>